/* 
*
* @author       : Daniel Costa Munhoz
* @description  : Arquivo que contem os estilos responsivos do portifolio
*/



@media (max-width: 767.98px) and (orientation: landscape){
    .img-perfil{
        display: none !important;
    }

    .nome-perfil{
        margin-top: 70px !important; 
    }

}

@media (max-width: 996px){
    nav{
        background-color: rgba(0,0,0, .5);
    }

    .itens-container,
    .nav-active  .itens-container
    {
        height: 0px;
        
    }

    .toggler{
        display: inline-block;
    }

    .toggler-active{
        background-color: rgba(0,0,0, .9) !important;
        height: 300px !important;
    }

    .itens-container{
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

    .itens-container ul{
        
        width: 100%;
    }

    .itens-container ul li{
        width: 100%;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .itens-container ul>.social-icon{
        display: inline-block;
        width: 55px;
        position: relative;
        left: 50%;
        transform: translate(-100%, 0);
        
    }

    .itens-container ul li a{
        display: inline-block !important;
        border-radius: 0;
        width: 100% !important;
        padding: 8px 20px !important;
        margin: 0 !important;
        
        font-size: 16px !important;
        
    }

    .portifolio .img-perfil img{

        width: 150px;
        height: 150px;
    }

    .portifolio .nome-perfil .box-name .name{
        font-size: 40px;
    }
    
    .portifolio .nome-perfil .box-name .jobs{
        font-size:14px;
    }

    .sobre-mim .desc{
        width: 70%;
     }

     .exp-box{
        width: 100%;
    }

    .ca-content .ca-desc{
        width: 100%;
    }

    .study .box-study{
        width: 48% !important;
    }

    
}

@media (max-width: 1199.98px){
    .quali-content .box{
        width: 48%;
        margin: 5px;
    }

    .quali-content{
        display: block;
        /* align-items: center;
        align-content: center; */
        box-sizing: border-box;
    }

    .study .box-study{
        width: 32%;
        
    }
}

@media (max-width: 767.98px){
    .quali-content .box{
        width: 100% !important;
        margin: 5px 0 !important;
    }

    .exp-box .job-logo{
        padding-bottom: 10px;
    }

    .exp-content{
        width: 100% !important;
    }

    .exp-box .job-logo,
    .exp-box .job-body{
        display: block;
        width: 100%;
        float: none;
        text-align: center;
    }

    .exp-box .job-body .job-desc{
        text-align: justify;
        padding-top: 10px;
    }

    .sobre-mim .desc{
        width: 100%;
     }

     .ca-desc{
         width: 100% ;
         text-align: justify;
     }

    
     .study .box-study{
        width: 100% !important;
        height: 400px;
        margin:  5px 0 !important;
    }

    .background{
        background-size: auto;
        background-position: bottom;
    }
}