/* 
*   @author: Daniel Costa Munhoz 
*   @description: Estilo principal do portifolio
*   
*/

/* Reset margin e padding */
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body{

}


article{
    /* height: 3000px; */
    background-color:#F3F3F3;
}

/* ========== Navbar ========== */
/* Nav */
nav{
    width: 100%;
    position: fixed;
    /* background-color: rgba(3, 108, 255, .0); */
    background-color: rgba(0, 95, 255 .0);
    z-index: 200;
    box-sizing: border-box;
    transition: 300ms;
}

.nav-active{
    background-color: rgba(0, 90, 255, .9) !important;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3);
}

nav,
.logo-container,
.itens-container{
    height: 100px;
    transition: 300ms;
}

.toggler{
    color: #fff;
    display: inline-block;
    position: relative;
    height: 100px;
    float: right;
    font-size: 30px;
    padding: 0 30px;
    display: none;
    transition: 300ms;
}

.toggler i{
    position: relative;
    top: 50%;
    transform: translate(0, -70%);
}

.toggler:hover{
    background-color: rgba(44, 132, 255,.4) !important;
    cursor: pointer;
}

#nav-content{
    padding: 0 30px;
    transition: 300ms;
    overflow: hidden;
}

.nav-active>#nav-content{
    padding: 0 15px !important;
}
.nav-active .toggler{
    padding: 0 15px !important;
}

.nav-active,
.nav-active  .logo-container,
.nav-active  .itens-container,
.nav-active .toggler{
    height: 80px;
}

/* Logo */
.logo-container{
    position: relative;
    display: inline-block;
    width: 150px;
    float: left;
}

.logo{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.logo:hover>.name-logo{
    color:rgb(228, 228, 228) !important;
}

.logo>img,
.logo>span{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.logo-container .logo .img-logo,
.logo-container .logo .name-logo{
    display: inline-block;
    height: 30px;
}

.logo-container .logo .img-logo{
    margin-top: -22px;

}

.logo-container .logo .name-logo{
    font-size: 16px;
    line-height: 18px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: 300ms;
}

.name-logo .first-name,
.name-logo .second-name{
    display: block;
}

.name-logo .first-name{
    letter-spacing: 3px;
}

/* ITENS */
.itens-container{
    display: inline-block;
    float: right;
    overflow: hidden;
}

.itens-container ul{
    display: inline-block;
    list-style: none;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
     top: 50%;
    transform: translate(0, -50%);
}

.itens-container ul li{
    box-sizing: border-box;
    display: inline-block;
    margin: 0 0;
}

.itens-container ul .social-icon a{
    padding: 10px;
}

.itens-container ul .social-icon a i{
    position: relative;
    top: 3px;
    font-size: 20px;
}

.itens-container ul li a{
    display: inline-block;
    padding: 15px 10px;
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
    transition: 300ms;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

.itens-container ul li a:hover{
    background-color: rgba(44, 132, 255,.4);
}

/* ========== Background ========== */
.background{
    background-image: url("../imgs/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


/* ========= CONTEUDO ========== */
.content-portifolio{
    position: relative;
    top: -100vh;
}
/* Portifolio */
.portifolio{
    position: relative;
    box-sizing: border-box;
    padding-top: 80px;
    height: 100vh;
    z-index: 199;
}

.portifolio .img-perfil{
    display: block;
    padding: 100px 0 0 0;
}


.portifolio .img-perfil img{
    border-radius: 50%;
    position: relative;
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

.portifolio .nome-perfil{
    padding: 10px;
    display: block;
    height: 50%;
}

.portifolio .nome-perfil .box-name{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.5);
    border: 5px solid #FFF;
    padding: 10px;
    text-align: center;
    display: inline-block;
    color: #FFF;
    font-weight: bold;
}

.portifolio .nome-perfil .box-name .name{
    font-size: 50px;
}

.portifolio .nome-perfil .box-name .jobs{
    font-size: 20px;
}


/* ========= Sobre Mim ========= */
.sobre-mim{
    z-index: 198;
}

.sobre-mim .desc{
    padding: 70px 0;
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.sobre-mim .desc p{
    padding: 0 0;
    margin: 0;
}

.sobre-mim .desc p.what-do{
    padding: 0;
    font-size: 16px;
    margin: 10px 0 20px 0;
}

.sobre-mim .desc p.more{
    margin: 10px 0 0 0;
    font-size: 18px;
}

/* ========== Qualidades ========== */
.qualidades{
    display: inline-block;
    width: 100%;
    background-color: #bebebe;
}

.quali-content{
    padding: 0 0;
    box-sizing: border-box;
}

.quali-content .box{
    padding: 30px 10px;
    margin: 30px 5px;
    border-radius: 3px;
    height: 300px;
    background-color: #FFF;
    display: inline-block;
    width: 24%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);
    float: left;
    transition: 300ms;
    box-sizing: border-box;
}

.quali-content .box:hover{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .5);
}


.quali-content .box::before{
    content: '';
    clear:both;
}

.quali-content .box header{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, .3)
}

.quali-content .box .quali-logo{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.quali-content .box section{
    text-align: center;
    padding-top: 10px;
    position: relative;
}

.quali-content .box .quali-title{
    font-weight: bold;
    font-size: 20px;
}

.quali-content .box section span{
    display: block;
}

/* ========== Experiência ========== */
.exp{
    display: block;
    position: relative;
    width: 100%;
    margin-top: -6px;
    padding-top: 50px;
    padding-bottom: 0;
}

.exp-content{
    
}

.exp-content .exp-title{
    display: block;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
}

.exp-box{
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
    
}

.exp-box .job-logo{
    display: block;
    position: relative;
    height: 100%;
    width: 20%;
    float: left;
}

.exp-box .job-logo img{
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .4)
}

.exp-box .job-body{
    float: right;
    position: relative;
    display: inline-block;
    width: 80%;
}

.exp-box .job-body span{
    display: block;
}

.exp-box .job-body .job-tittle{
    font-weight: bold;
    font-size: 26px;
}

.exp-box .job-body .job-function{
    font-size: 20px;
}

.exp-box .job-body .job-time{
    font-size: 14px;
    padding-bottom: 10px;
}

.exp-box .job-body .job-desc{
    font-size: 16px;
}

/* ===== COMO APRENDI ===== */

.como-aprendi{
    display: inline-block;
    width: 100%;
}
.ca-content{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}

.ca-content .ca-desc{
    display: block;
    width: 65%;
    margin: auto;
    padding-bottom: 30px;
}

.ca-content .ca-title{
    font-size: 40px;
    font-weight: bold;
}

.ca-content .ca-courses{
    text-align: left;

}

.ca-content .ca-courses .study-title{
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.study{
    display: inline-block;
    width: 100%;
}

.study .box-study{
    display: inline-block;
    position: relative;
    float: left;
    margin: 5px;
    background-color: #FFF;
    height: 350px;
    width: 24%;
    padding: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, .5);
}

.study .box-study .course-img img{
    width: 100%;
}
.study .box-study .course-img{
    position: relative;
}

.study .box-study .course-img .c-cert{
    position: absolute;
    height: 100%;
    width: 100%;
}

.study .box-study .course-img .c-cert a{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    opacity: 0;
    transition: 600ms;
}

.study .box-study .course-img .c-cert a:hover{
    opacity: .5;
}

.study .box-study .course-img .c-cert a:hover .cert-link{
    opacity: 1 !important;
}

.study .box-study .course-img .c-cert a .cert-link{
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.study .box-study .c-attr header{
    text-align: center;
    font-weight: bold;
}

.study .box-study .c-attr .c-desc{
    padding: 5px 10px;
    text-align: justify;
    font-size: 14px;
}

/* ========== HABILIDADES ========== */
#habilidades{
}

#habilidades .hab-content{
    
}

.hab-content .hab-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 80px 0;
}

.hab-content .hab-box{
    display: block;
    float: left;
    margin: 10px !important;
    width: 31%;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
}

.hab-box .hab-box-title{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

#idiomas .hab-box-content .hab-box-item{
    font-size: 14px;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

#idiomas .hab-box-content .hab-box-item .idioma{
    font-weight:bold;
    display: block;
    width: 50%;
    float: left;
}

#idiomas .hab-box-content .hab-box-item .nivel{
    float: right;    
    display: block;
    width: 50%;
}

#conhecimentos .hab-box-content .item-list{
    font-size: 14px;
    text-align: center;
}

#conhecimentos .hab-box-content .item-list .item{
    background-color: rgb(0, 61, 175);
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    font-weight: bold;
    color: #FFF;
    border-radius: 3px;
    transition: 500ms;
}

#conhecimentos .hab-box-content .item-list .item:hover{
    background-color: rgb(0, 89, 255);

}

/* ========== PROJETOS ========== */
#projetos .proj-content{
 
}

.proj-content .proj-title{
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    padding: 80px;
}

.proj-content .proj-body .projeto{
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.proj-content .proj-body .projeto .proj-img{
    display: block;
    width: 35%;
    float: left;
}

.proj-content .proj-body .projeto:nth-child(even) .proj-img{
    float: right;
}

.proj-content .proj-body .projeto .proj-img img{

    width: 100%;
    border-radius: 5px;

}

.proj-content .proj-body .projeto .proj-desc{
    display: inline-block;
    position: relative;
    width: 65%;
    box-sizing: border-box;
    padding: 10px;
    text-align: justify;
}

.projeto .proj-desc div{
    margin: 5px 0;
}
.projeto .proj-desc .title-proj{
    font-weight: bold;
}

.projeto .proj-desc .tec-proj span{
    font-weight: bold;
}

.projeto .proj-desc .tec-proj img{
    width: 20px;
}

/* ========== CONTATO ========== */

#contatos{
    background-color: #bebebe;
    display: inline-block;
    width: 100%;
}

#contatos .cont-content header{
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center
}

#contatos .cont-content .cont-body{
    text-align: center;
    font-size: 18px;
}

.cont-body .pipepipe{
    display: inline-block;
    margin: 20px 0;
}

.cont-body .cont-social{
    
}

.cont-body .cont-social ul{
    list-style: none;
}

.cont-body .cont-social ul li{
    display: inline-block;
}

.cont-body .cont-social ul li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(0, 89, 255);;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

/* ========== FOOTER ========== */
footer{
    padding: 10px;
    text-align: center;
    color: #FFF;
    background-color: rgb(73, 73, 73);
}